@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body,
html {
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}

* {
	outline: none;
}

.btn {
	@apply p-2 px-5 rounded transition transform font-semibold text-sm;
}

.table {
	@apply border-collapse w-full whitespace-nowrap overflow-x-hidden;
}

.table th {
	@apply text-left uppercase text-xs text-gray-500 p-3;
}

.table tbody tr {
	@apply transition hover:(bg-gray-50) border-t border-gray-100;
}

.table td {
	@apply p-3;
}

.main-content > * {
	animation: show-content 0.5s;
}

@keyframes show-content {
	from {
		opacity: 0;
	}
}

.animate-down {
	animation: down 0.4s;
}

@keyframes down {
	from {
		transform: translateY(-100%);
	}
}

.animate-up {
	animation: up 0.4s;
}

@keyframes up {
	from {
		transform: translateY(100%);
	}
}
